{% extends 'base.html' %} 

{% block head %}
<title>Task manager</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">Tasks</h1>
    {% if tasks|length < 1 %}
    <h4 style="text-align: center;">There's no tasts...Create one</h4>

    {% else %}
    <table>
    <tr>
        <th>Task</th>
        <th>Time added</th>
        <th>Actions</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{ task.content }}</td>
        <td>{{ task.date_created.date()}}</td>
        <td>
            <a href="/delete/{{task.id}}">Delete task</a>
            <br>
            <a href="/update/{{task.id}}">Update task</a>
        </td>
    </tr>
    {% endfor %}
    </table>
    {% endif %}
<div class="form">
    <form action="/" method="post">
        <input type="text" id="content" name="content">
        <input type="submit" value="Add Task">
    </form>
</div>
</div>
{% endblock %}